<template>
  <div>
    <Header
      :carrito="carrito"
      :moneda="moneda"
      :filtro="filtro"
      @filtroActualizado="filtroActualizado"
    />
    <Body :categorias="categorias" :carrito="carrito" :moneda="moneda" :filtro="filtro" />
  </div>
</template>

<script>
import Header from '../components/Header'
import Body from '../components/Body'
export default {
  name: 'Home',
  components: {
    Header,
    Body
  },
  methods: {
    filtroActualizado: function (tipo) {
      this.filtro = tipo
    }
  },
  data () {
    return {
      categorias: [
        { tipo: 'Entrantes' },
        { tipo: 'De cuchara' },
        { tipo: 'Pastas' },
        { tipo: 'Arroces y cereales' },
        { tipo: 'Ensaladas y zumos' }
      ],
      carrito: [],
      moneda: '€',
      filtro: ''
    }
  }
}
</script>

<style scoped>

</style>
