<template>
  <div class="lista">
    <div class="categoria-seleccionada">
      {{filtro}}
    </div>
    <ProductCart class="carta" :carrito="carrito" :moneda="moneda" :filtro="filtro" />
  </div>
</template>

<script>
import ProductCart from './ProductCart'
export default {
  name: 'Body',
  props: ['categorias', 'carrito', 'moneda', 'filtro'],
  components: {
    ProductCart
  }
}
</script>
<style scoped>
.carta {
  display: flex;
  flex-flow: wrap;
}
.categoria-seleccionada {
  color:grey;
  padding: 1rem;
  font-size: 1.5rem;
}
.lista {
  background-color: rgb(248, 247, 247);
  padding: 1rem;
}
</style>
