<template>
  <div class="button">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <div v-for="menu in menus" :key="menu.id" id="menu">
      <button
        type="button"
        class="btn btn-light"
        @click="addmenu(menu)"
      >{{menu.tipo}} {{menu.precio}} {{moneda}}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: ['carrito', 'moneda'],
  data () {
    return {
      menus: [
        { tipo: 'Menu Completo', precio: 9 },
        { tipo: 'Medio Menu', precio: 6 }
      ]
    }
  },
  methods: {
    addmenu (menu) {
      return this.carrito.push(menu)
    }
  }
}
</script>

<style scoped>
.button {
  display: flex;
}

#menu {
  display: flex;
  margin: 0.5rem;
}
</style>
