<template>
  <div class="header">
    <div class="header-up">
    <img src="../assets/logo2.svg" />
    <Button :carrito="carrito" :moneda="moneda"/>
    </div>
    <Navegacion :carrito="carrito" :filtro='filtro' @filtroActualizado="filtroActualizado"/>
    <router-view />
  </div>
</template>

<script>

import Button from '../components/Button'
import Navegacion from '../components/Navegacion'

export default {
  name: 'Header',
  props: ['carrito', 'moneda', 'filtro'],
  components: {
    Button,
    Navegacion
  },
  methods: {
    filtroActualizado: function (tipo) {
      this.$emit('filtroActualizado', tipo)
    }
  }
}
</script>
<style scoped>
.header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-up{
  padding: 2rem;
}
.header-up img{
  width: 200px;
}
</style>
