<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <div class="barra">
    <div class="nav">
      <div v-for="categoria in categorias" :key="categoria.id"  class="categorias">
        <button v-bind:class="addselect(categoria)"  @click="addfiltro(categoria.tipo)">{{categoria.tipo}}</button>
      </div>
    </div>
     <div class="compra">
        <div class="articulos">
       {{this.carrito.length}}
        </div>
       <img  class="carrito"  src="../assets/carrito-de-compras.png" />
      </div>
    </div>
      <hr class="linea"/>
    </div>
  </nav>

</template>

<script>
export default {
  name: 'Navegacion',
  props: ['carrito', 'filtro'],
  data () {
    return {
      categorias: [
        { tipo: 'Entrantes' },
        { tipo: 'De cuchara' },
        { tipo: 'Pastas' },
        { tipo: 'Arroces y cereales' },
        { tipo: 'Ensaladas y zumos' }
      ]
    }
  },
  methods: {
    addfiltro (tipo) {
      this.$emit('filtroActualizado', tipo)
    },
    addselect (categoria) {
      return categoria.tipo === this.filtro ? 'select' : 'no-select'
    }
  }
}
</script>

<style scoped>
.barra{
  width: 100vw;
  display: flex;
  align-items: center;
}
.navbar{
  width: 100vw;
  display: flex;
}
.nav{
 display: flex;
 align-items: center;
 color: grey;
 padding: .5rem;
 width: 100%;

}
.categorias{
  display: flex;
  margin-right: 2rem;
  height: 2rem;
}
button:focus {outline:0;}
.select{
  color :  rgb(91, 235, 211);
  border: rgb(91, 235, 211) solid .1rem;
  border-radius: 2rem;
  text-align: center;
  background-color: rgb(248, 247, 247);
}
.no-select{
  color:grey;
  text-decoration: none;
  border: none;
  background-color: rgb(248, 247, 247);
  text-align: center;
}
.linea{
  border:gainsboro solid .4rem;
}
.carrito{
  max-width: 2rem;
  display: flex;
}
.articulos{
  border-radius: 5rem;
  border: solid .1rem orange;
  width: 1.5rem;
  text-align: center;
  margin-left: 2.5rem;
  background-color: orange;
  color: white;
  font-size: .8rem;
}
.compra{
  display: flex;
  flex-direction: column;
  padding-right: 5.5rem;
}
</style>
