<template>
  <div>
    <div v-for="producto in productosFiltrados" :key="producto.id" class="card-body">
      <div class="contenedor-imagen">
        <img :src="producto.foto" :alt="producto.nombre"/>
        <span v-if="producto.nombre === 'Ensaladilla'" class="badge badge-info">NUEVO</span>
      </div>
      <div class="info">
        <div>
          <h5>{{producto.nombre}}</h5>
        </div>
        <div class="opciones">
          <div>
            <p>+ {{producto.precio}} {{moneda}}</p>
          </div>
          <div>
            <button id="boton" @click="addcarrito(producto)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Ensaladilla from '../assets/apeteat_2017__ensaladilla_rusa.jpg'
import Nigirimix from '../assets/apeteat_2018_nigirimix.jpg'
import Ensaladaquinoachicken from '../assets/apeteat_2019_ensaladaquinoachicken.jpg'
import Wrapcesar from '../assets/apeteat_2019_wrapcesar.jpg'
export default {
  name: 'ProductCart',
  props: ['carrito', 'moneda', 'filtro'],
  data () {
    return {
      productos: [
        {
          foto: Ensaladilla,
          nombre: 'Ensaladilla',
          precio: 0.5,
          categoria: 'Entrantes'
        },
        {
          foto: Nigirimix,
          nombre: 'Nigirimix',
          precio: 0.5,
          categoria: 'Arroces y cereales'
        },
        {
          foto: Ensaladaquinoachicken,
          nombre: 'Ensalada Quinoa Chiken',
          precio: 0.5,
          categoria: 'Ensaladas y zumos'
        },
        {
          foto: Wrapcesar,
          nombre: 'Wrap Cesar',
          precio: 0.5,
          categoria: 'Entrantes'
        },
        {
          foto: Ensaladilla,
          nombre: 'Ensaladilla',
          precio: 0.5,
          categoria: 'Entrantes'
        },
        {
          foto: Nigirimix,
          nombre: 'Nigirimix',
          precio: 0.5,
          categoria: 'Arroces y cereales'
        }
      ]
    }
  },
  methods: {
    addcarrito (producto) {
      return this.carrito.push(producto)
    }
  },
  computed: {
    productosFiltrados () {
      if (this.filtro === '') {
        return this.productos
      } else {
        return this.productos.filter(
          product => product.categoria === this.filtro
        )
      }
    }
  }
}
</script>
<style scoped>
.opciones {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}
#boton {
  border-radius: 5rem;
  color: orange;
  border: orange solid 0.2rem;
  background-color: white;
}
.card-body {
  padding: 1rem;
  max-width: 29.3rem;
}
img {
width: 100%;
}
.info {
  color:grey;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
}

button:focus {
  outline:0;
}

.badge{
  padding: .5rem;
  font-size: 1rem;
  background-color:  rgb(91, 235, 211);
  width: 6rem;
  margin-left: 70%;
}
.contenedor-imagen{
  min-height: 300px;
  background-color: white;
}
</style>
